# Ignore system-specific files
.DS_Store

# Ignore environment variables file
.env

# Ignore all .gitignore files inside .idea directory
.idea/.gitignore

# Ignore JetBrains project files in .idea directory
.idea/inspectionProfiles/*
.idea/misc.xml
.idea/modules.xml
.idea/pythonProject.iml

# Ignore compiled Python bytecode files
__pycache__/

# Ignore Python files that are already compiled (.pyc)
*.pyc
